.container {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}


.star {
  font-size: 25px;
  padding-left: 13px;
  margin-left: 13px;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: cornsilk;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: cornsilk;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.titulos{
  font-size: 25px;
  background-color: #6c757d;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

.search{
  margin-bottom: 32px;
  margin-top: 32px;
}

.flexContainer {
  display: flex;
}

.albumCover {
  padding: 16px 16px 16px 0px;
  display: flex;
  flex-direction: column;
}

.albumCover img {
  width: 124px;
}

.albumCover span {
  text-align: center;
  margin-top: 6px;
  width: 124px;
}
